<h2>Welcome to our movie search!</h2>
<p>Please enter a title here: </p>

<form asp-action="ReturnSearch" method="post">
    <label class="control-label"></label>
    <input type="text" name="title" class="form-control"/>
    <input type="submit" value="Search" />
</form>